/**
 * @name Catppuccin Mocha
 * @author winston#0001
 * @authorId 505490445468696576
 * @version 0.2.0
 * @description 🎮 Soothing pastel theme for Discord
 * @website https://github.com/catppuccin/discord
 * @invite r6Mdz5dpFc
 * **/

@import url("https://catppuccin.github.io/discord/dist/catppuccin-mocha.theme.css");
/*
.panels-3wFtMD .container-YkUktl:last-child .flex-2S1XBF::before {
    display: none;
}

.container-YkUktl > .flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz {
    background: var(--background-primary);
    padding-block: 1em; }

nav.wrapper-1_HaEi.guilds-2JjMmN {
    margin-left: 133px;
}

.container-YkUktl > .flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz:not(.inner-WRV6k5 *) {
    top: -7px;
    height: fit-content;
    transform: rotate(270deg);
    background: var(--background-tertiary);
    width: fit-content;
    width: 61px;
    left: 35px;
    border-radius: 0;
}

.container-YkUktl > .flex-2S1XBF.flex-3BkGQD.horizontal-112GEH.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.justifyStart-2Mwniq.alignStretch-Uwowzr.noWrap-hBpHBz > *:not(.inner-WRV6k5 *) {
    transform: rotate(90deg);
}

.panels-3wFtMD>.container-YkUktl:last-child .directionRow-2Iu2A9 .button-12Fmur::before {
    transform: rotate(90deg) translate(28px, -35px);
}
#app-mount .guilds-2JjMmN [class*=pill] {
    transform: rotate(90deg) translate(55px, -44%);
}*/
